@charset "UTF-8";
@import url(iconfont.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

/*height*/
/********/
/*width*/
/*******/
/*fload*/
.fl, header .nav-wide .nav-left, .nav-left > div, .nav-left > ul, .nav-left > ul > li, .nav-left .nav-logo .nav-card > ul, footer .footer-left {
  float: left; }

.fr, header .nav-wide .nav-right, footer .footer-right {
  float: right; }

.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both; }

/********/
/*bgColor*/
/********/
/*fontColor*/
/********/
/*fontSize*/
/********/
body {
  background-color: #f2f2f2; }

/*header start*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background: linear-gradient(top, rgba(0, 0, 0, 0.4), transparent);
  transition: background-color .8s ease;
  z-index: 100; }
  header .nav-wide {
    width: 100%;
    min-width: 1000px;
    max-width: 1200px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto; }

.nav-left {
  height: 100%; }
  .nav-left > div, .nav-left > ul, .nav-left > ul > li {
    height: 100%; }
  .nav-left .nav-logo {
    width: 100px;
    position: relative; }
    .nav-left .nav-logo > a {
      background: url(../img/logo.png) no-repeat;
      background-size: 100% 100%;
      display: block;
      height: 26px;
      margin: 17px 0;
      width: 100%; }
    .nav-left .nav-logo .nav-card {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      width: 720px;
      height: 480px;
      padding: 30px 0;
      margin-top: 1px;
      margin-left: -50px;
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s ease; }
      .nav-left .nav-logo .nav-card > ul {
        display: inline-block; }
        .nav-left .nav-logo .nav-card > ul > li > a {
          color: #000; }
      .nav-left .nav-logo .nav-card .nav-card-nav {
        position: relative;
        width: 130px; }
      .nav-left .nav-logo .nav-card .nav-card-nav::before {
        content: "";
        position: absolute;
        left: 30px;
        top: 0;
        width: 18px;
        height: 225px;
        background-image: url(../img/navCardlogo.png);
        background-size: 100% 100%; }
    .nav-left .nav-logo .nav-card::before {
      content: '';
      position: absolute;
      top: -12px;
      left: 120px;
      border: 6px solid transparent;
      margin-left: -6px;
      border-bottom-color: #fff; }
    .nav-left .nav-logo .nav-card::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff; }
  .nav-left .nav-logo:hover .nav-card {
    opacity: 1;
    visibility: visible; }
  .nav-left .nav-card .nav-card-nav li {
    position: relative;
    height: 21px;
    padding-left: 60px;
    margin-top: 20px;
    line-height: 20px; }
  .nav-left .nav-card .nav-card-nav li:first-child {
    margin: 0; }
  .nav-left .nav-card .nav-card-nav li.active::after {
    content: "";
    position: absolute;
    right: 1px;
    top: 4px;
    border: 6px solid transparent;
    border-right-color: #ccc; }
  .nav-left .nav-card .nav-card-panel {
    width: 590px;
    padding-left: 22px;
    padding-right: 30px;
    border-left: 1px solid #e8e8e8;
    font-size: 14px; }
  .nav-left .nav-list > li > a {
    display: block;
    padding: 22px 20px;
    font-size: 16px;
    color: #fff; }
  .nav-left .nav-list > li > a:hover {
    color: #ffa800; }
  .nav-left .nav-list > li:first-child {
    margin-left: 15px; }
  .nav-left .nav-search {
    position: relative;
    display: inline-block;
    height: 60px;
    padding: 12px 0;
    margin-left: 15px;
    vertical-align: top;
    width: 220px; }
    .nav-left .nav-search form {
      height: 100%; }
      .nav-left .nav-search form input {
        height: 100%;
        padding-left: 15px;
        width: 100%;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        font-size: 14px; }
      .nav-left .nav-search form .search:-ms-input-placeholder {
        color: #fff; }
      .nav-left .nav-search form .search:-moz-placeholder {
        color: #fff; }
      .nav-left .nav-search form .search::-webkit-input-placeholder {
        color: #fff; }
    .nav-left .nav-search .iconfont {
      position: absolute;
      right: 4px;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      line-height: 20px;
      font-size: 16px;
      color: #fff;
      cursor: text; }

.panel-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 15px; }
  .panel-item dl {
    max-height: 80px;
    overflow: hidden; }
    .panel-item dl .tag-title {
      padding-left: 8px;
      margin-bottom: 3px; }
      .panel-item dl .tag-title a {
        color: #505050;
        font-size: 14px; }
      .panel-item dl .tag-title a:hover {
        color: #ffa800; }
  .panel-item dd li {
    display: inline-block; }
    .panel-item dd li a {
      display: block;
      width: 44px;
      height: 21px;
      border: 1px solid #fff;
      border-radius: 4px;
      margin-right: 5px;
      margin-top: 7px;
      line-height: 20px;
      text-align: center;
      color: #222;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .panel-item dd li a:hover {
      border-color: #ffa800; }

.panel-item:first-child {
  margin-top: 0; }

.panel-item:last-child {
  border: 0; }

.nav-found > a::after, .nav-communication > a::after {
  content: "";
  display: inline-block;
  border: 4px solid transparent;
  margin-left: 3px;
  margin-top: 2px;
  border-top-color: #fff;
  vertical-align: middle; }

.nav-found > a:hover::after, .nav-communication > a:hover::after {
  margin-top: -7px;
  border-top-color: transparent;
  border-bottom-color: #fff; }

.nav-found, .nav-communication {
  position: relative; }
  .nav-found .tab-list:before, .nav-communication .tab-list:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    border: 6px solid transparent;
    margin-left: -4px;
    border-bottom-color: #fff; }

.tab-list {
  position: absolute;
  top: 100%;
  z-index: 1;
  left: 0;
  width: 120px;
  margin-top: 1px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease;
  margin-left: -30px; }
  .tab-list li {
    border-bottom: 1px solid #0c0c0c; }
    .tab-list li a {
      display: block;
      height: 45px;
      line-height: 45px;
      border-bottom: 1px solid #333;
      color: #fff;
      text-align: center; }
    .tab-list li a:hover {
      background-color: #333; }

.nav-found:hover .tab-list, .nav-communication:hover .tab-list {
  visibility: visible;
  opacity: 1;
  background-color: #222; }

.nav-search .search-menu {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #222;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  line-height: 1;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease; }
  .nav-search .search-menu li {
    border-bottom: 1px solid #0c0c0c; }
    .nav-search .search-menu li a {
      display: block;
      height: 45px;
      line-height: 45px;
      border-bottom: 1px solid #333;
      text-align: center;
      color: #fff; }
    .nav-search .search-menu li a:hover {
      background-color: #333; }
.nav-search .active-search-menu {
  visibility: visible;
  opacity: 1; }

.nav-right {
  height: 100%; }
  .nav-right a {
    display: inline-block;
    margin-top: 12px;
    margin-left: 30px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px; }
  .nav-right .nav-register {
    width: 100px;
    text-align: center;
    background-color: #ffa800; }

header:hover, header.fixed-top {
  background-color: #222;
  transition: background-color .8s ease; }

header:hover .nav-search form input, header.fixed-top .nav-search form input {
  border: 1px solid #333;
  background-color: #333;
  transition: background-color .8s ease,border-color .8s ease; }

header:hover .nav-search form input:focus, header.fixed-top .nav-search form input:focus {
  border-color: #916822; }

/*header end*/
/*footer start*/
footer {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 13px;
  border-top: 1px solid #999;
  height: 30px;
  padding: 6px 0;
  color: #999; }
  footer a {
    color: #999; }
  footer .footer-left {
    line-height: 24px; }
  footer .footer-right {
    line-height: 24px; }
    footer .footer-right .sns-icons a {
      display: inline-block;
      height: 16px;
      width: 16px;
      background: url(../img/snsIcons.gif) no-repeat;
      -moz-background-size: 100% 400%;
      background-size: 100% 400%; }
    footer .footer-right .sns-icons .weibo {
      background-position: 0 -16px; }
    footer .footer-right .sns-icons .weibo:hover {
      background-position: 0 0; }
    footer .footer-right .sns-icons .weixin {
      background-position: 0 -48px; }
    footer .footer-right .sns-icons .weixin:hover {
      background-position: 0 -32px; }
  footer a:hover {
    text-decoration: underline; }

/*footer end*/
/*gotop start*/
.gotop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
  cursor: pointer; }

.gotop:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 15px;
  display: block;
  height: 20px;
  width: 20px;
  border: 2px solid #333;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(-45deg); }

/*gotop end*/
/*section start*/
/*container*/
.container {
  width: 100%;
  margin: 0 auto; }
  .container .welcome {
    position: relative;
    height: 90%;
    min-height: 500px;
    background: url(../img/bgimg.jpg) no-repeat;
    background-size: cover;
    background-color: #555; }
    .container .welcome .welcome-author {
      position: absolute;
      right: 20px;
      bottom: 20px;
      color: #fff;
      text-shadow: 0 1px 2px #000;
      line-height: 1; }
  .container .content {
    width: 1200px;
    margin: 0 auto; }

/*welcome*/
.welcome-con {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: 30px;
  transform: scale(1) translateY(-50%); }
  .welcome-con .welcome-title {
    margin: 0;
    line-height: 1;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 38px; }
  .welcome-con .welcome-join {
    display: block;
    width: 160px;
    height: 42px;
    margin: 30px auto 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 42px;
    background-color: #0090e3;
    color: #fff;
    font-size: 18px; }
  .welcome-con .welcome-join:hover {
    background-color: #0af; }
  .welcome-con .welcome-qrcode {
    width: 110px;
    height: 110px;
    border: 1px solid #fff;
    margin: 30px auto 15px; }
    .welcome-con .welcome-qrcode a {
      display: block;
      width: 100px;
      height: 100px;
      margin: 4px;
      background-image: url(../img/qrcode.png);
      background-size: 100% 100%; }
  .welcome-con .link-android {
    background: url(../img/Android.png); }
  .welcome-con .link-ios {
    background: url(../img/ios.png); }
  .welcome-con .link-android, .welcome-con .link-ios {
    display: block;
    width: 110px;
    height: 33px;
    margin: 5px auto 0;
    text-align: center;
    color: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat; }

/*content*/
.hot-posts > h2, .hot-events > h2 {
  text-align: center;
  font-size: 24px;
  margin: 70px 0 0;
  line-height: 1;
  font-weight: 400; }
.hot-posts > p, .hot-events > p {
  text-align: center;
  margin: 40px 0 70px;
  line-height: 1; }

.hot-posts .posts-list .post-row {
  margin-top: 10px; }
  .hot-posts .posts-list .post-row .post-cover {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    background-position: center;
    background-size: cover;
    margin-left: 5px; }
    .hot-posts .posts-list .post-row .post-cover .post-mask {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
    .hot-posts .posts-list .post-row .post-cover .post-title {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      max-height: 50px;
      padding: 0 10px;
      margin: 0;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 18px;
      color: #fff;
      overflow: hidden; }
    .hot-posts .posts-list .post-row .post-cover .post-author-icon {
      position: absolute;
      left: 50%;
      bottom: 50px;
      width: 30px;
      height: 30px;
      margin-left: -15px;
      border-radius: 50%; }
    .hot-posts .posts-list .post-row .post-cover .post-author-name {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      color: #fff; }
  .hot-posts .posts-list .post-row .post-cover:hover .post-mask {
    z-index: 0; }
.hot-posts .posts-list .post-row:first-child {
  margin-top: 0; }

.events-list li {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 190px;
  margin-left: 10px;
  margin-top: 30px;
  background-size: cover;
  background-position: center; }
  .events-list li .event-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent; }
  .events-list li .event-mask:hover {
    border-color: #ffa800;
    background-color: rgba(0, 0, 0, 0.5); }
  .events-list li .event-title {
    position: absolute;
    left: 0;
    bottom: 82px;
    width: 100%;
    max-height: 50px;
    padding: 0 70px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #fff;
    overflow: hidden; }
  .events-list li .event-posts {
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    opacity: .7;
    font-size: 12px;
    text-align: center; }
  .events-list li .event-posts::before {
    content: " ";
    position: absolute;
    left: 50%;
    top: -7px;
    width: 100px;
    height: 1px;
    margin-left: -50px;
    background-color: rgba(255, 255, 255, 0.35); }
  .events-list li .event-deadline {
    position: absolute;
    bottom: 15px;
    left: 50%;
    height: 20px;
    padding: 0 5px;
    transform: translateX(-50%);
    border-radius: 4px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7); }
    .events-list li .event-deadline em {
      margin-left: 2px;
      font-style: normal;
      color: #ffae00; }
  .events-list li .event-deadline::before {
    content: " ";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 100%;
    vertical-align: middle;
    background-color: #ffae00; }

.enter-top {
  animation: enter-top .3s ease-in; }

.enter-bottom {
  animation: enter-bottom .3s ease-in; }

.enter-left {
  animation: enter-left .3s ease-in; }

.enter-right {
  animation: enter-right .3s ease-in; }

.leave-top {
  animation: leave-top .3s ease-out; }

.leave-bottom {
  animation: leave-bottom .3s ease-out; }

.leave-left {
  animation: leave-left .3s ease-out; }

.leave-right {
  animation: leave-right .3s ease-out; }

/*app-zone*/
.app-zone {
  position: relative;
  height: 340px;
  margin: 100px 0;
  background-color: #ddd; }
  .app-zone .app-show {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 1200px;
    height: 410px;
    margin-left: -600px;
    background-image: url(../img/appShow.png);
    background-size: 100% 100%; }
    .app-zone .app-show .link-android, .app-zone .app-show .link-ios {
      position: absolute;
      left: 223px;
      width: 122px;
      height: 37px;
      bottom: 67px; }
    .app-zone .app-show .link-ios {
      bottom: 110px; }

/*section end*/
/*动画定义*/
@keyframes enter-top {
  from {
    transform: translate3d(0, -100%, 0);
    z-index: 0; }
  to {
    transform: translate3d(0, 0, 0);
    z-index: 0; } }
@keyframes enter-right {
  from {
    transform: translate3d(100%, 0, 0);
    z-index: 0; }
  to {
    transform: translate3d(0, 0, 0);
    z-index: 0; } }
@keyframes enter-bottom {
  from {
    transform: translate3d(0, 100%, 0);
    z-index: 0; }
  to {
    transform: translate3d(0, 0, 0);
    z-index: 0; } }
@keyframes enter-left {
  from {
    transform: translate3d(-100%, 0, 0);
    z-index: 0; }
  to {
    transform: translate3d(0, 0, 0);
    z-index: 0; } }
@keyframes leave-top {
  from {
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  to {
    transform: translate3d(0, -100%);
    z-index: -1; } }
@keyframes leave-right {
  from {
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  to {
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }
@keyframes leave-bottom {
  from {
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  to {
    transform: translate3d(0, 100%, 0);
    z-index: -1; } }
@keyframes leave-left {
  from {
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  to {
    transform: translate3d(-100%, 0, 0);
    z-index: -1; } }
header {
  position: static; }

@media all and (min-width: 720px) {
  body {
    font-size: 12px;
    background-color: #EAEAEA; }

  .flex {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }

  * {
    box-sizing: border-box; }

  li {
    list-style: none; }

  .content {
    width: 1000px;
    margin: 0 auto; }

  fontbig, .title ul li {
    font-size: 16px;
    font-family: arial;
    height: 60px;
    line-height: 60px; }

  fl, .title ul li {
    float: left; }

  fr {
    float: right; }

  clear, .content, .title ul {
    overflow: hidden; }

  fonthight, .title ul li, .title_left .title_main {
    height: 25px;
    line-height: 25px; }

  .title ul li {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 70px;
    margin-right: 40px;
    border-bottom: 4px solid transparent;
    border-bottom: 4px solid #FFA800;
    font-weight: 600; }

  hr {
    margin-top: -3px;
    margin-bottom: 20px; }

  .title_left {
    float: left;
    width: 72%; }
    .title_left .title_main {
      margin-top: 20px;
      height: 150px;
      background: white; }
      .title_left .title_main img {
        float: left;
        margin: 20px; }
      .title_left .title_main ul {
        color: cornflowerblue;
        padding: 20px;
        width: 48%;
        float: left; }
        .title_left .title_main ul li:nth-of-type(1) {
          color: #225599;
          font-size: 16px;
          font-weight: 600; }
        .title_left .title_main ul li span {
          color: #888888;
          margin-left: 20px; }

  .title_right {
    float: right; }
    .title_right ul {
      margin-top: 20px;
      width: 240px; }
      .title_right ul li:nth-of-type(1) {
        font-size: 18px;
        color: black;
        font-weight: 600;
        background: #eef;
        padding: 10px;
        cursor: pointer; }
      .title_right ul li {
        overflow: hidden;
        border: 1px solid #eee;
        background-color: white;
        color: #225599; }
        .title_right ul li img {
          float: left;
          width: 60px;
          height: 60px;
          padding: 10px; }
        .title_right ul li span {
          float: left;
          display: inline-block;
          line-height: 60px;
          margin-left: 20px; }
      .title_right ul li:hover {
        background-color: #eef; } }
footer {
  margin-top: 20px;
  margin-bottom: 20px; }

/*# sourceMappingURL=discus.css.map */
