@import 'indexStyle.scss';

header{
    position: static;
    background-color: #222;
}
.register{
    width: 1000px;
    padding-top: 20px;
    position: relative;
    margin: 0 auto;
    .main{
        min-height: 600px;
        width: 750px;
        padding: 0 7px;
        @extend .fl;
        .register-main-bg{
            box-shadow: 0 2px 3px rgba(0,0,0,0.18);
            border-radius: 2px;
            position: relative;
            background-color: $bgWhite;
            margin: 0 0 14px;
            .register-card-title{
                padding: 6px 8px;
                background-color: #f5f5f5;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                border-bottom: 1px solid #ddd;
                padding: 12px;
                font-size: 32px;
                margin: 0;
            }
        }
    }
}

/*form start*/
.inner {
    padding: 6px 8px;
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
}
.col-xs-1, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4, 
.col-xs-5, 
.col-xs-6, 
.col-xs-7, 
.col-xs-8, 
.col-xs-9, 
.col-xs-10, 
.col-xs-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 7px;
}
.col-xs-6 {
    width: 75%;
    padding: 0;
}
.col-xs-3 {
    width: 35%;
    padding-left: 0;
}
.form-reg{
    font-size: $f14;
    .form-group {
        margin-left: -7px;
        margin-right: -7px;
    }
    .form-group:after {
        clear: both;
    }
    .control-label {
        text-align: right;
        width: 12%;
        padding: 7px;
    }
    .form-group::before, 
    .form-group::after {
        content: " ";
        display: table;
    }
    
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: $f14;
    line-height: 1.42857143;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control {
    padding: 6px;
    font-size: $f12;
}
select.form-control {
    min-width: 4em;
    margin-right: .5em;
}
.form-reg-mobile {
    select[name=zone] {
        width: 80px;
        display: inline-block;
    }
    input[name=mobile_number] {
        width: 60%;
        display: inline-block;
    }
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.btn.sendSMSBtn {
    font-size: 12px;
}
input[type=text], input[type=password] {
    border: 1px solid #ccc;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.radio, .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.btn-primary {
    color: #fff;
    background-color: #259;
    border-color: #1d4984;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 2px;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1b4278;
    border-color: #122e52;
}
/*form end*/