@media all and (max-width: 719px){
$backgroundcolor:#EAEAEA;
$fontcolor:#225599;
$earecolor:#F5F5F5;
$hovercolor:#FFA800;
$maincolor:white;
body{
    font-size: 10px;
    background-color: $backgroundcolor;
}
.opa{
     opacity: 0.3;
     -webkit-transition: all 1s ease-in;
     -moz-transition: all 1s ease-in;
     -o-transition: all 1s ease-in;   
}

.flex{
    position: fixed;top: 0;left: 0;
    width: 100%;
}
.content{
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
li{
    list-style: none;
}
fontbig{
    font-size: 14px;
    font-family: arial;
    height: 40px;
    line-height: 40px;
}
fl{
    float: left;
}
fr{
    float: right;
}
clear{
    overflow: hidden;
}
fonthight{
    height: 20px;
    line-height: 20px;
}
//正文标题部分
.title{
    ul{
        @extend clear;
        li{
            height: 40px;
            float: left;
            line-height: 40px;
            text-align: center;
            width: 70px;
            @extend fontbig;
            @extend fonthight;
            border-bottom: 4px solid transparent;
        }
        li:hover{
            border-bottom: 4px solid $hovercolor;
            font-weight: 600;
        }
    }
}
    hr{
        display: none;
    }
.title_top{
    margin-top: 10px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    color: $fontcolor;
    background-color: $earecolor;
}
.title_top:hover{
    color: blue;
    font-weight: 600;
}
.title_left{
    float: left;
    width: 60%;
    .title_main{
        height: 220px;
        @extend fonthight;
        background: $maincolor;
        ul{
            padding-left: 20px;
            li{ 
                a{
                    margin-left: 10px;
                }
            }
        }
    }
}
.title_right{
    float: right;
    width: 35%;
    .ritop{
        width: 240px;
        color: black;
    }
    .rimain{
        background-color: $maincolor;
        padding: 20px;
        height: 90px;
        #s{
            background: $fontcolor;
            color: white;
            width: 60%;
            padding: 15px; 
        }
        #s:hover{
            background-color: blue;
        }
    }
}
//第二部分
.secone{
    background-color: $maincolor;
    border: 1px solid #ccc;
    margin:20px 18px 10px 0;
    height: 400px;
    img{
        width: 460px;
        height: 300px;
        margin: 10px;
    }
    ul{
        position: relative;
        height: 300px;
        overflow: hidden;
        li{
            line-height: 50px;
            span{
                margin-left: 30%;
                margin-top: -200px;
                line-height: 40px;
                font-size: 16px;
                font-family: arial;
                font-weight: 600;
                color: $fontcolor;
                margin-right: 20px;
            }
        }
    }
}
.work{
  display: none;
   
}
//foot部分
.footone{
    overflow: hidden;
    ul{
        position: relative;
        margin-right:10px;
        float: right;
        overflow: hidden;
        li{
            padding: 10px 0;
            float: left;
            margin-right: 3px;
            width: 40px;
            input{
                background-color: white;
                width: 35px;
                height: 25px;
                border: none;  
            }
            .input:hover{
                background-color: $fontcolor;
                color: white;
            }
        }
        li:nth-of-type(7){
           display: none;
        }
        li:nth-of-type(8){
           display: none;
        }
        
        li:nth-of-type(9){
          display: none;
        }
        .ten:hover{
            background-color: $fontcolor;color: white;
        }
    }
}
.eignt{
    position: relative;
}
.jia{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
   right:-2px;
}
.jian{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 0px;
    
}
.back-top{
    img{
         width: 30px;
    }
    position: fixed;right: 20px;bottom: 50px;
    width: 30px;height: 30px;
    background-color: white;
    float: right;
}
  
}