@media all and (max-width: 719px) {
  body {
    font-size: 10px;
    background-color: #EAEAEA; }

  .opa {
    opacity: 0.3;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in; }

  .flex {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }

  .content {
    width: 500px;
    margin: 0 auto;
    overflow: hidden; }

  * {
    box-sizing: border-box; }

  li {
    list-style: none; }

  fontbig, .title ul li {
    font-size: 14px;
    font-family: arial;
    height: 40px;
    line-height: 40px; }

  fl {
    float: left; }

  fr {
    float: right; }

  clear, .title ul {
    overflow: hidden; }

  fonthight, .title ul li, .title_left .title_main {
    height: 20px;
    line-height: 20px; }

  .title ul li {
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
    width: 70px;
    border-bottom: 4px solid transparent; }
  .title ul li:hover {
    border-bottom: 4px solid #FFA800;
    font-weight: 600; }

  hr {
    display: none; }

  .title_top {
    margin-top: 10px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    color: #225599;
    background-color: #F5F5F5; }

  .title_top:hover {
    color: blue;
    font-weight: 600; }

  .title_left {
    float: left;
    width: 60%; }
    .title_left .title_main {
      height: 220px;
      background: white; }
      .title_left .title_main ul {
        padding-left: 20px; }
        .title_left .title_main ul li a {
          margin-left: 10px; }

  .title_right {
    float: right;
    width: 35%; }
    .title_right .ritop {
      width: 240px;
      color: black; }
    .title_right .rimain {
      background-color: white;
      padding: 20px;
      height: 90px; }
      .title_right .rimain #s {
        background: #225599;
        color: white;
        width: 60%;
        padding: 15px; }
      .title_right .rimain #s:hover {
        background-color: blue; }

  .secone {
    background-color: white;
    border: 1px solid #ccc;
    margin: 20px 18px 10px 0;
    height: 400px; }
    .secone img {
      width: 460px;
      height: 300px;
      margin: 10px; }
    .secone ul {
      position: relative;
      height: 300px;
      overflow: hidden; }
      .secone ul li {
        line-height: 50px; }
        .secone ul li span {
          margin-left: 30%;
          margin-top: -200px;
          line-height: 40px;
          font-size: 16px;
          font-family: arial;
          font-weight: 600;
          color: #225599;
          margin-right: 20px; }

  .work {
    display: none; }

  .footone {
    overflow: hidden; }
    .footone ul {
      position: relative;
      margin-right: 10px;
      float: right;
      overflow: hidden; }
      .footone ul li {
        padding: 10px 0;
        float: left;
        margin-right: 3px;
        width: 40px; }
        .footone ul li input {
          background-color: white;
          width: 35px;
          height: 25px;
          border: none; }
        .footone ul li .input:hover {
          background-color: #225599;
          color: white; }
      .footone ul li:nth-of-type(7) {
        display: none; }
      .footone ul li:nth-of-type(8) {
        display: none; }
      .footone ul li:nth-of-type(9) {
        display: none; }
      .footone ul .ten:hover {
        background-color: #225599;
        color: white; }

  .eignt {
    position: relative; }

  .jia {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: -2px; }

  .jian {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 0px; }

  .back-top {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 30px;
    height: 30px;
    background-color: white;
    float: right; }
    .back-top img {
      width: 30px; } }

/*# sourceMappingURL=rsd.css.map */
